<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Daniel Sanchez'
my_string2 = 'Universidad Nacional'
print(my_string1 +' '+ my_string2)  # muestra en pantalla la concatenacion de dos strings

Daniel Sanchez Universidad Nacional

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
mi_entero = 8902
print(mi_entero)  #Imprime el entero guardado en la variable
print(type(mi_entero))  # type identifica e imprime el tipo de dato de la variable

8902
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string3 = "7680"
print(type(my_string3))
my_int1 = int(my_string3)  # la funcion int() convierte una cadena de caracteres en una variable de tipo entero
print(type(my_int1))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "896.2"
my_float = float(my_string)  #la funcion float() convierte la cadena de caracteres en una variable de tipo flotante o real
print(my_float)
print(type(my_float))  #Imprime el nuevo tipo de dato de la variable my_float

896.2
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True      #Declaracion de una variable de tipo booleana
print(my_bool)
print(type(my_bool))  #Identifica el tipo de dato de la variable my_bool

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Adicion", 2+2)
print("Sustraccion", 10-4)
print("Multiplicacion", 3*20)
print("Division", 100/25)
print('exponente', 4**2)  #Diferentes operaciones matematicas basicas

Adicion 4
Sustraccion 6
Multiplicacion 60
Division 4.0
exponente 16

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(2/3)
print(2.0/3)  #El resultado es un flotante por defecto sin importar el tipo de variables que usemos para la operacion

0.6666666666666666
0.6666666666666666

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list1 = [ 'Colombia', 'Nacional', 6, 9.087] # Creacion de una lista de diferentes tipos de valores
print(my_list1)

['Colombia', 'Nacional', 6, 9.087]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
my_list1 = [ 'Colombia', 'Nacional', 6, 9.087]
print(len(my_list1))  #Imprime la longitud de la lista creada
print(my_list1[3])
print(my_list1[len(my_list1) -1]) # imprime el elemento de la lista que se encuentre en la posicion (4-1)

4
9.087
9.087

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list1 = [ 'Colombia', 'Nacional', 6, 9.087]
my_list1[0] = 'Universidad' #Cambiar el elemento de la lista en el indice 0
print(my_list1)

['Universidad', 'Nacional', 6, 9.087]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list1 = [ 'Colombia', 'Nacional', 6, 9.087]
print(my_list1[1:3]) # Imprime la lista delimitada por los valores puestos entre corchetes

['Nacional', 6]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
print(my_list1[1:]) #Muestra todos los elementos desde el indice seleccionado

['Nacional', 6, 9.087]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
print(my_list1[:3]) # Muestra todos los elementos hasta el indice seleccionado

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello') # la funcion append() agrega un nuevo elemento a la lista al final de la misma
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello') #La funcion remove() elimina el elemento seleccionado desde el principio de la lista 
print(my_list)

['Quant', 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect') #  Declaracion de una Tupla

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:]) # Muestra los elementos de la Tupla desde el indice indicado hasta el ultimo

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG'] # declaracion de una lista
stock_set = set(stock_list)  # la funcion set() convierte la sita en un set
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'} # creacion de un diccionario con tres pares de keys:values

In [ ]:
print(my_dic['GOOG']) # imprime el valor guardado bajo la key GOOG

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys()) # el metodo dict.keys() retorna la lista de todas las keys usadas en el diccionario

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:]) # Una cadena de caracteres tratada como una tuple, por su indice de posiciones

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e')) # El metodo .count() cuenta la cantidad de veces que se repite el caracter en una cadena 
print('The first time e appears in this sentence'.find('e')) # .find() retorna el primer indice donde aparece el caracter seleccionado
print('all the a in this sentence now becomes e'.replace('a','e')) # .replace() reemplaza un caracter por otro seleccionado

7
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')#separa la cadena de caracteres donde se encuentre un espacio
date = splited_list[0] #guarda el primer indice en la variable date la primera parte de la cadena de caracteres antes del espacio 
time = splited_list[1]#guarda el segundo indice en la variable time la segunda parte de la cadena de caracteres despues del espacio
print(date, time)
hour = time.split(':')[0] #divide la variable time cuando encuentre el caracter : y lo guarda en el indice 0
print(hour)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43') #otro formato para mostrar la información 
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14) #Se utiliza %f para dar formato a un flotante
print('%s to %s'%('Welcome','Quantconnect')) #Se utiliza %s para dar formato a un string

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0) #Comparar si 1 es igual a 0
print(1 == 1) #Comparar si 1 es igual a 1
print(1 != 0) #Comparar si 1 es diferente de 0
print(5 >= 5) #Comparar si 5 es mayor o igual a 5
print(5 >= 6) #Comparar si 5 es mayor o igual a 6

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2) #Compara si 2 es mayor que 1 Y si 3 es mayor que 2
print(2 > 1 and 3 < 2) #Compara si 2 es mayor que 1 Y si 3 es menor que 2
print(2 > 1 or 3 < 2)  #Compara si 2 es mayor que 1 O 3 es menor que 2
print(2 < 1 and 3 < 2) #Compara si 2 es menor que 1 Y 3 es menor que 2

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [1]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))#Compara si 3 es mayor que 2 o si 1es menor que 3 Y
#si 1 es diferente de 3 y 4 es mayor que 3 Y NO 3es menor que 2 o 1 es menor que 3 Y 1 es diferente de 3 y 4 es mayor que 3
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True') #Si i es igual a cero imprima la frase

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true') # Si 1 es mayor a 0 Y 2 es mayor a 3 imprima esta frase
elif p and not q:
    print('q is false')  # Sino, si  1 es mayor a 0 Y 2  NO es mayor a 3 imprima esta frase
elif q and not p:
    print('p is false') # Sino, si  2 es mayor a 3 Y 1 NO es mayor a 0 imprima esta frase
else:
    print('None of p and q is true') # Imprimir esto para todos los demás casos

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1  #Muestra el valor de i para cada iteración del ciclo

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i) # Recorre el arreglo por cada indice e imprime los valores en ellos

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [2]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:   #Recorre la lista  llamada stocks 
    if i not in selected: 
        new_list.append(i)  # Si un elemento NO ESTÁ en selected lo agrega a new_list
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':  #recorre la lista stocks hasta que la variable guardada en la posicion i sea igual a FB y corta el ciclo 
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue  #recorre la lista stocks hasta que la variable guardada en la posicion i sea igual a FB donde continua sin tener esta en cuenta
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2) # .append agrega los elementos de la lista elevados al cuadrado, asi: [1^2,2^2,3^2,4^2,5^2]
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list] #Eleva los elemenos de list al acuadrado y los agrega a squares asi: [1^2,2^2,3^2,4^2,5^2]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [3]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected] #agrega a new_list solamente los elementos que se encuentran en stocks y en selected
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]) # Imprime los valores de x e y que se encuentren en los respectivos arreglos y que no sean valores iguales entre ellos 
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y   # product retorna el valor del producto entre dos numeros
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect') # say_hi retorna la cadena de caracteres Welcolm to QuantConnect
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10)) #range crea una lista asi : (0,1,2,3,4,5,6,7,8,9,10)
print(range(1,11)) #range crea una lista asi : (1,2,3,4,5,6,7,8,9,10,11)
print(range(1,11,2)) #range crea una lista asi : (1,3,5,7,9,11)

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers))) #len retorna la longitud de la coleccion llamada tickers
for i in range(len(tickers)):
    print(tickers[i])  #Crea un loop que va hasta la longitud de la coleccion llamada tickers e imprime cada uno de sus componentes

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers)) #map recorre la lista tickers y obtiene la longitud de cada uno de sus componentes asi: AAPL=4,GOOG=4,IBM=3,FB=2,F=1,V=1,G=1,GE=2

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10))) #crea una funcion que, en un rango de 0 a 10, es recorrida por map y eleva cada uno de sus componentes al cuadrado
#así: 0^2,1^2,2^2,3^2,4^2,5^2,6^2,7^2,8^2,9^2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1])) #recorre ambas listas y suma cada uno de sus componentes entre si
#así: 1+5,2+4,3+3,4+2,5+1

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1]) #sorted organiza la lista, así : 1,2,3,4,5

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1]) #organiza la price_list teniendo en cuenta la prioridad establecida por la key, de menor valor a mayor valor

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True) #organiza la lista teniendo en cuenta la prioridad con el reverse integrado,
#de mayor a menor, así: 911.71, 150, 144.09,75.32, 69

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1]) #organiza la price_list teniendo en cuenta la prioridad establecida por la key, de menor valor a mayor valor
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple) #miestra los atributos y metodos definidos para esta clase

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name) #imprime el nombre de el objeto child referenciado como aa
aa.update(100,102) # actualiza los valores de open y close en la clase child que hereda de la clase stock
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [4]:
import numpy as np #importa la libreria NumPy como np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list) #crea una grilla de valores con un array de NumPy
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape) #shape muestra las dimensiones del array multidimensional de NumPy, así : 2x2

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0]) #Acceso a la primera columna de la matriz Ar de tamaño 2x2: (1,2)
print('the second column: ', Ar[:,1])#Acceso a la segunda columna de la matriz Ar de tamaño 2x2: (3,4)

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array)) #saca el logaritmo a los valores del array : ln143.73 , ln145.83, ln143.68, ln144.02, ln143.5, ln142.62

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array)) #calcula la media de los valores del array: (143.73 + 145.83 + 143.68 + 144.02 + 143.5 + 142.62)/6
print(np.std(price_array)) #calcula la desviación estandar de los valores 143.73, 145.83, 143.68, 144.02, 143.5, 142.62
print(np.sum(price_array)) #calcula la suma de los valores: 143.73 + 145.83 + 143.68 + 144.02 + 143.5 + 142.62
print(np.max(price_array)) # calcula el valor maximo de los valores del arreglo: 143.73, 145.83, 143.68, 144.02, 143.5, 142.62

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [5]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [13]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price) #creación de una serie con los valores de la lista price : 143.73, 145.83, 143.68, 144.02, 143.5, 142.62
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [14]:
s = pd.Series(price,index = ['a','b','c','d','e','f']) #personalizacion del indice de la serie con los numerales a,b,c,d,e,f
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [15]:
s.index = [6,5,4,3,2,1] #cambio de los indices de una serie de a,b,c,d,e,f  por 6,5,4,3,2,1
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [16]:
print(s[1:]) #muestra la serie menos el primer indice
print(s[:-2])#muestra la serie sin tener en cuenta los dos ultimos indices

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [17]:
print(s[4])
s[4] = 0 #cambia el valor que se encuentra en el indice 4 de 142.68 por 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [18]:
s = pd.Series(price, name = 'Apple Price List') #Otorga un nombre a la serie exisente : Apple Price List
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [19]:
print(s.describe()) #muestra la informacion estadistica de la serie, como el conteno de los elementos, la media, la desviación, los 3/4, etc

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [20]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D') #genera un indice de fechas para cada elemento de la serie con la cantidad de periodos igual a la longitud de la mismay de frecuencia diaria (D)
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [23]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1]) #Accede a un elemento de la serie a traves de su indice personalizado

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [24]:
print(s.iloc[1]) # como los indices son enteros, al usar .iloc() se puede acceder a los elementos de la serie s.iloc[2] = 143.68

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [25]:
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05']) # acceso a un rango de fehcas entre ese lapso de tiempo

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [26]:
print(s[s < np.mean(s)] ) #muestra los valores que estan por debajo de la media de los valores de la serie: 143.73,  143.68, 143.5, 142.62
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))]) #muestra True si el valor de la serie esta por encima de la media  Y ademas el valor es menor a la media más 1.64xla desviacion estandar de cada valor

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [27]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 6.3 MB/s
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [32]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 155.09, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.653, 'beta3Year': None, 'enterpriseToEbitda': 19.63, '52WeekChange': 0.19949031, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59430003, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.053094983, 'priceToBook': 35.231712, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2516919255040, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.8725734, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 23.641768, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 150.62, 'regularMarketOpen': 150.9, 'twoHundredDayAverage': 153.7353, 'trailingAnnualDividendYield': 0.0057429294, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 155.57, 'navPrice': None, 'averageDailyVolume10Day': 95333020, 'regularMarketPreviousClose': 150.62, 'fiftyDayAverage': 168.0858, 'trailingAnnualDividendRate': 0.865, 'open': 150.9, 'toCurrency': None, 'averageVolume10days': 95333020, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.385, 'currency': 'USD', 'trailingPE': 25.783875, 'regularMarketVolume': 89231766, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2600052719616, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 95562583, 'dayLow': 150.385, 'ask': 155.1, 'askSize': 1300, 'volume': 89231766, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 155.01, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1200, 'dayHigh': 155.57, 'regularMarketPrice': 155.09, 'preMarketPrice': 150.9, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590634,24.225174,23.450391,24.220575,270597600,0.0,0
2016-01-05,24.312540,24.335531,23.544656,23.613626,223164000,0.0,0
2016-01-06,23.119325,23.535456,22.960692,23.151512,273829600,0.0,0
2016-01-07,22.687106,23.020469,22.169818,22.174416,324377600,0.0,0
2016-01-08,22.657219,22.785966,22.245687,22.291668,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713649,41.890363,41.670667,41.792454,65397600,0.0,0
2017-12-26,40.787108,40.947104,40.519650,40.732185,132742000,0.0,0
2017-12-27,40.619953,40.782336,40.526821,40.739353,85992800,0.0,0
2017-12-28,40.834873,41.037855,40.710695,40.853977,65920800,0.0,0
2017-12-29,40.720244,40.736958,40.409803,40.412189,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [33]:
aapl = aapl_table['Close']['2017'] #creacion de una serie de valores con indices de fechas

In [34]:
print(aapl)

Date
2017-01-03    27.297691
2017-01-04    27.267141
2017-01-05    27.405800
2017-01-06    27.711330
2017-01-09    27.965157
                ...
2017-12-22    41.792454
2017-12-26    40.732185
2017-12-27    40.739353
2017-12-28    40.853977
2017-12-29    40.412189
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [36]:
print(aapl['2017-3'])

Date
2017-03-01    32.996033
2017-03-02    32.800117
2017-03-03    32.993683
2017-03-06    32.889809
2017-03-07    32.932297
2017-03-08    32.809551
2017-03-09    32.734020
2017-03-10    32.842598
2017-03-13    32.856758
2017-03-14    32.807201
2017-03-15    33.154179
2017-03-16    33.208462
2017-03-17    33.043243
2017-03-20    33.390217
2017-03-21    33.007832
2017-03-22    33.380779
2017-03-23    33.262756
2017-03-24    33.196663
2017-03-27    33.253311
2017-03-28    33.942551
2017-03-29    34.018082
2017-03-30    33.973236
2017-03-31    33.909512
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [37]:
print(aapl.head(5)) #muestra los primero 5 elementos de la serie aapl
print(aapl.tail(10)) #muestra los ultimos 10 elementos de la seria aapl

Date
2017-01-03    27.297691
2017-01-04    27.267141
2017-01-05    27.405800
2017-01-06    27.711330
2017-01-09    27.965157
Name: Close, dtype: float64
Date
2017-12-15    41.544106
2017-12-18    42.129166
2017-12-19    41.680218
2017-12-20    41.634850
2017-12-21    41.792454
2017-12-22    41.792454
2017-12-26    40.732185
2017-12-27    40.739353
2017-12-28    40.853977
2017-12-29    40.412189
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean() #agrupa los datos en intervalos de tiempo en meses y calcula la media de cada intervalo
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean() #agrupa los datos en intervalos de tiempo en semanas  y calcula la media de cada intervalo
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max() #agrupa los datos en intervalos de tiempo en meses y calcula el valor maximo de cada intervalo

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean() # Toma un intervalo de 3 dias (3D) y calcula la media de los datos en ese intervalo
two_week = aapl.resample('2W').mean() # Toma un intervalo de 2 semanas (2W) y calcula la media de los datos en ese intervalo
two_month = aapl.resample('2M').mean()  # Toma un intervalo de 2 meses (2M) y calcula la media de los datos en ese intervalo


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()  # Toma un intervalo semanal de los datos y calcula la desviacion estandar de los mismos
max = aapl.resample('W').max() # Toma un intervalo semanal de los datos y calcula el valor maximo entre los mismos
min = aapl.resample('W').min() # Toma un intervalo semanal de los datos y calcula el valor minimo entre los mismos


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) # calcula mensualmente los precios del ultimo dia de cada mes y los muestra
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1) # calcula mensualmente los precios del primer dia y del ultimo dia de cada mes y los muestra
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean()) # muestra la media de los valores del primer y del ultimo dia de cada mes en el intervalo de tiempo
print(monthly_return.std()) # muestra la desviacion estandar de los valores del primer y del ultimo dia de cada mes en el intervalo de tiempo
print(monthly_return.max())  # muestra el valor maximo de los valores del primer y del ultimo dia de cada mes en el intervalo de tiempo

0.02686331860727394
0.052258487776588924
0.09901841642506737

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff()) #calcula la diferencia entre los valores del ultimo dia de cada mes 
print(last_day.pct_change()) #calcula el porcentaje de cambio entre los valores del ultimo dia de cada mes del intervalo de tiempo

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0)) #rellena el valor NaN con 0 en los anteriores valores de la serie

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna() # quita los valores que tenga NaN con dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [38]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]} #creacion de un diccionario con listas de diferentes valores 
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D') #indexacion de los valores por fechas en cinco periodos con frecuencia diaria
df = pd.DataFrame(dict, index = data_index) #creacion del DataFrame
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [39]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5)) # Nombra los cinco ultimos elementos de la tabla como la columna Volume

Date
2017-12-22    41.792454
2017-12-26    40.732185
2017-12-27    40.739353
2017-12-28    40.853977
2017-12-29    40.412189
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [44]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1]) #Muestra los datos en periodos mensuales de forma descendente
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030  257666000        0.0
2016-02-29  22.389510  22.706190  22.340968  22.350214  140865200        0.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600        0.0
2016-04-30  21.726104  21.894847  21.383998  21.668316  274126000        0.0
2016-05-31  23.163048  23.349098  22.981651  23.223515  169228800        0.0
2016-06-30  21.963032  22.272336  21.930474  22.232801  143345600        0.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800        0.0
2016-08-31  24.705476  24.918251  24.700798  24.808355  118649600        0.0
2016-09-30  26.295458  26.508235  26.141137  26.433413  145516400        0.0
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600        0.0
2016-11-30  26.228345  26.369357  25.915766  25.974522  144649200        0.0
2016-12-31  27.415201  27.544461  27.128475  27.220133  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [45]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']] #Crea una vista con algunas de las columnas del DataFrame seleccionadas
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030
2016-02-29  22.389510  22.706190  22.340968  22.350214
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726104  21.894847  21.383998  21.668316
2016-05-31  23.163048  23.349098  22.981651  23.223515
2016-06-30  21.963032  22.272336  21.930474  22.232801
2016-07-31  24.230499  24.314221  24.111893  24.235149
2016-08-31  24.705476  24.918251  24.700798  24.808355
2016-09-30  26.295458  26.508235  26.141137  26.433413
2016-10-31  26.573704  26.709320  26.468483  26.547983
2016-11-30  26.228345  26.369357  25.915766  25.974522
2016-12-31  27.415201  27.544461  27.128475  27.220133

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [46]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']]) #usar loc para especificar las filas y las columnas deseadas y las muestra

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726104  21.894847  21.383998  21.668316
2016-05-31  23.163048  23.349098  22.981651  23.223515
2016-06-30  21.963032  22.272336  21.930474  22.232801

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [47]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)] #Creacion de un subconjunto de los datos de la columna Close que son mayores a la media de los datos de la misma columna
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-08-31  24.705476  24.918251  24.700798  24.808355
2016-09-30  26.295458  26.508235  26.141137  26.433413
2016-10-31  26.573704  26.709320  26.468483  26.547983
2016-11-30  26.228345  26.369357  25.915766  25.974522
2016-12-31  27.415201  27.544461  27.128475  27.220133

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [48]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change() # Se agrega una nueva columna al anterior DataFrame llamada rate_return
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [49]:
missing = aapl_bar.isnull() #muestra el conteo de varios valores utiles en el DataFrame
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [50]:
print(missing[missing.rate_return == True]) #Evidencia los valores NaN o anormales que se encuentran en el dataFrame

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [51]:
drop = aapl_bar.dropna() #Elimina los elementos que no tiene ningun valor o aparecen como NaN
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0) # Rellena con 0 los elementos que aparecen como NaN
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030     0.000000
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1) #Concatena las series s1 con la serie s2 en un solo DataFrame por columnas
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [52]:
log_price = np.log(aapl_bar.Close) #crea una nueva serie con los datos de Close llamada log_price
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1) #concatena la nueva serie con el ya existente DataFrame por suscolumnas  
print(concat)

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211181
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN   3.108124
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288   3.106836
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211   3.226582
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921   3.075851
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773   3.145165
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660   3.101569
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063   3.187804
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652   3.211181
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504   3.274629
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334   3.278954
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601   3.257116
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955   3.303957

We can also join two DataFrames by rows. Consider these two DataFrames:

In [54]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1]) # localiza las filas del rango de fechas con las columas de Volume y de Stocks Splits, reorganizandolas mensualmente de manera descendente
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1]) # localiza las filas del rango de fechas con las columas de Open,High,Low y Close, reorganizandolas mensualmente de manera descendente
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573704  26.709320  26.468483  26.547983
2016-11-30  26.228345  26.369357  25.915766  25.974522
2016-12-31  27.415201  27.544461  27.128475  27.220133
2017-01-31  28.472797  28.529201  28.348236  28.519800
2017-02-28  32.356360  32.441335  32.266664  32.335117
2017-03-31  33.923673  34.053496  33.756083  33.909512
2017-04-30  34.010997  34.060567  33.817446  33.907139

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [55]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #concatena las dos columnas anteriormente creadas al DataFrame de aapl_bar indexadas por intervalos de fechas mensuales
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [57]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')#al poner inner la concatenacion se efectua por interseccion para agregar las filas
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [58]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792771  22.379030  21.691612  22.379030          NaN
2016-02-29  22.389510  22.706190  22.340968  22.350214    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726104  21.894847  21.383998  21.668316    -0.139921
2016-05-31  23.163048  23.349098  22.981651  23.223515     0.071773
2016-06-30  21.963032  22.272336  21.930474  22.232801    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705476  24.918251  24.700798  24.808355     0.023652
2016-09-30  26.295458  26.508235  26.141137  26.433413     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228345  26.369357  25.915766  25.974522    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2016-10-31  26.573704  26.709320  26.468483  26.547983          NaN
2016-11-30  26.228345  26.369357  25.915766  25.974522          NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133          NaN
2017-01-31  28.472797  28.529201  28.348236  28.519800          NaN
2017-02-28  32.356360  32.441335  32.266664  32.335117          NaN
2017-03-31  33.923673  34.053496  33.756083  33.909512          NaN
2017-04-30  34.010997  34.060567  33.817446  33.907139          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0) #Concatena los DataFrames de aapls_bar y df_2017
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close'] # Cambia la columna Change para agregarla al nuevo DataFrame resultante de la concatenacion
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.